h1
{
	font-family: Arial,Helvetica,sans-serif;
   background-repeat: no-repeat;
   background-position: 100%;
   background-attachment: fixed;
   background-size: cover;
   padding: 0px;
   
   text-align: center;
}
h2
{
	font-size: 30px;
	color:#fff;
	
	text-align: left;
	
}
h3
{
	font-size: 20px;
	color:#fff;
	
	text-align: left;
	
}
body
{
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.nf{
	margin:0;
		padding: 0 3rem;
		text-align: center;
		max-width: 1180px;
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(6,2fr);
}
